---
import Title from "@components/global/Title.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section>
	<div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-32 lg:py-32">
		<div>
			<Title title="Privacy" subtitle="Last updated 01. Jan 2024" class="pb-10 pt-20 uppercase" />
		</div>
		<div class="prose-styles mt-12 lg:mt-24">
			<h2 id="shine-the-light-disclosure">{t("privacy.wip")}</h2>
			<p>{t("privacy.wip.content")}


Glint Ajans olarak, web sitemizdeki iletişim formu aracılığıyla paylaştığınız kişisel verilerinizin güvenliğine önem veriyoruz. Bu metin, verilerinizin nasıl işlendiği hakkında sizi bilgilendirmek amacıyla hazırlanmıştır.
<h2>1. Hangi Verileri Topluyoruz?<h2>

İletişim formunu doldurduğunuzda aşağıdaki bilgiler tarafımızca işlenebilir:

    Adınız ve Soyadınız

    E-posta Adresiniz

    Telefon Numaranız (isteğe bağlı)

    Mesaj içeriğinde paylaştığınız diğer bilgiler

<h2>2. Verileri İşleme Amacımız</h2>

Topladığımız verileri yalnızca aşağıdaki amaçlarla kullanıyoruz:

    Taleplerinize, sorularınıza veya iş başvurularınıza yanıt vermek.

    Sizinle iletişime geçmek ve randevu/toplantı süreçlerini yönetmek.

    Hizmetlerimiz hakkında talep ettiğiniz bilgileri sunmak.

<h2>3. Verilerin Paylaşımı ve Saklanması</h2>

Paylaştığınız bilgiler, yasal bir zorunluluk olmadığı sürece üçüncü taraflarla paylaşılmaz. Verileriniz, talebiniz sonuçlanana kadar veya yasal saklama süreleri boyunca güvenli sunucularımızda muhafaza edilir.
<h2>4. Haklarınız</h2>

KVKK kapsamında; verilerinizin silinmesini isteme, işlenip işlenmediğini öğrenme veya hatalı verilerin düzeltilmesini talep etme hakkına sahipsiniz.

İletişim: Verilerinizle ilgili her türlü soru için bizimle e-posta adresimiz üzerinden iletişime geçebilirsiniz.
			</p>
		</div>
	</div>
</section>
