---
interface Props {
  phone: string;
  message?: string;
}

const { phone, message = "Merhaba!" } = Astro.props;
const url = `https://wa.me/${phone}?text=${encodeURIComponent(message)}`;
---

<div class="magnetic-wrap"> 
    <div class="magnetic-content squircle-bg w-64 rounded-lg bg-[#25D366] border border-transparent hover:brightness-110 transition-all" 
         data-cursor-hover 
         data-cursor-parallax>
        <a
            class="flex h-12 w-full items-center justify-center px-6 py-2 text-xl text-white md:font-bold"
            aria-label="WhatsApp Üzerinden İletişime Geçin"
            href={url}
            target="_blank"
            rel="noopener noreferrer">
            WhatsApp
        </a>
    </div>
</div>